body {
  box-sizing: border-box;
  background-color: black;
  margin: 0;
  padding: 0;
  background-color: aqua;

}
#head-container {
  display: fixed;
  top: 0%;
  width: 100%;
  border-style: solid;
  border-left: none;
  border-right: none;
}

.top-bar {
    list-style: none;
    text-align: center;
    letter-spacing: 1.5em;
    text-transform: uppercase;
}

.nav-font {
  color: black;
  text-decoration: none;
  transition: 8s;

}

a {
color: rgba(0,0,0, 0.0); 
}

#page-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  box-sizing: border-box;
  float: left;
  width: 10%;
  height: 70%;
}

#page-nav-font {
  padding-left: 0;
}

#page-nav .nav-links {
  font-size: 1.5rem;
}

/* .nav-links a {
  color: rgb(250, 215, 215);
} */

/* .nav-links a {
  color: rgba(0,0,0, 0.0);
} */

/* html:hover a {
  color: rgba(0,0,0);
  transition: 8s;
} */

#page-nav-font li  {
  font-size: 10rem;
  text-align: left;
  padding-left: .6rem;
}

#landing-container {
  box-sizing: border-box;
  display: block;
  float: right;
  width: 90%;
  height: auto;
  text-align: center;
  font-size: 22em;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: -15px;
  font-weight: 600
  ;
}

#hidden-text {
  color: rgba(0,0,0, 0.0);
  font-size: 5rem;
  letter-spacing: normal;
  transition: 2s;
}

#landing-container:hover #hidden-text {
  font-size: 5rem;
  display: inline;
  color: rgba(0,0,0);
  transition: 2.5s;
}

#about-me {
  box-sizing: border-box;
  display: block;
  float: right;
  padding-top: 3em;
  padding: 3em;
  width: 90%;
  height: auto;
  font-size: 5em;
}

li {
  list-style: none;
  font-size: 2rem;
}
#foot-container {
  bottom: 0;
  position: fixed;
  margin-top: auto;
  width: 100%;
  height: 50px;
  background-color: aqua;
  border-style: solid;
  text-align: center;
  letter-spacing: 5px;
  border-left: none;
  border-right: none;
}

#footer-content {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 50px;
  border-style: none;
  letter-spacing: 1.25em ;
}

#footer-content .hidden-contact-text {
  color: aqua;
}

#footer-content #contact-text {
  letter-spacing: .5em;
}