
.Banner-container {
  border: 5px solid black;
  /* text-align: center;
  font-size: 15rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: -15px; */
}

hidden-text {
  color: rgba(0, 0, 0, 0.0);
  font-size: 5rem;
  letter-spacing: normal;
  transition: 2s;
}

Banner-container:hover #hidden-text {
  font-size: 5rem;
  display: inline;
  color: rgba(0, 0, 0);
  transition: 2.5s;
}