
@media (min-width: 320px) {
  .fs {
    font-size: .25rem;
  }
}

  @media (min-width: 544px) {
  .fs {
    font-size: .5rem;
  }
}

@media (min-width: 768px) {
  .fs {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .fs {
    font-size: 1rem;
  }
}

@media (min-width: 1400px) {
  .fs {
    font-size: 1.5rem;
  }
}