.Nav-navbar {
  border: 5px solid black;
  width: 10%;
  position: fixed;
  /* top: 0; */
  /* left: 0; */
  height: 100vh;
  /* z-index: 999; */
  /* background: #7386D5; */
  /* color: #fff; */
  /* transition: all 0.3s; */
  /* flex-wrap:nowrap; */
  
}

#Nav-sidebar {
  display: flex;
  flex-direction: column;
  margin-top: 50vh;
  justify-content: center;
  /* font-size: calc(100% + 1vw + 1vh); */

}

@media (max-width: 992px) {
  #Nav-sidebar {
    font-size: .75rem;
  }
}

/* a {
  color: rgba(0, 0, 0, 0.0);
} */